RewriteEngine On

# Make sure we are in the public folder
RewriteBase /

# If the request is NOT a real file
RewriteCond %{REQUEST_FILENAME} !-f

# If the request is NOT a real directory
RewriteCond %{REQUEST_FILENAME} !-d

# Pass everything to index.php WITH the URI
RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
